.body{
    color:rgb(31, 0, 44)
}

.all-users {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .single-user {
    background-image: linear-gradient(to bottom, rgb(255, 157, 231), rgb(188, 161, 255));
    
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 10px;
    margin-right: 0.5rem;
    position: relative;
  }
  
  .allChats{
    height: 75vh;
  }

  /* User Card */
  .user-card {
    background-image: linear-gradient(to bottom, rgb(255, 179, 246), rgb(255, 200, 231));
    position: relative;
    border-bottom: 2px solid rgb(255, 176, 213);
    width: 380px;
  }
  
  .user-card .text-content {
    width: 170px;
  }
  
  .user-card .name {
    font-weight: 700;
  }
  
  .user-card .text,
  .user-card .date {
    font-size: 14px;
  }
  
  .user-online {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: rgb(0, 219, 0);
    position: absolute;
    top: -3px;
    right: -3px;
    z-index: 2;
  }
  
  /* Chat Box */
  .chat-box {
    max-height: calc(100vh - 10rem);
    overflow-y: auto;
    background-image: linear-gradient(to bottom, rgb(255, 200, 249), rgb(255, 179, 246));
    border-radius: 10px;
  }
  
  .messages-box {
    height: 85vh;
  }
  
  /* Chat Header */
  .chat-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    
    background: rgb(226, 121, 255);
  }
  
  /* Messages */
  .messages {
    max-height: calc(100vh - 15rem);
    overflow-y: auto;
    padding: 0 2rem;
  }
  
  .message {
    background: #e4beff;
    padding: 0.75rem;
    border-radius: 5px;
    max-width: 50%;
  }

  .message-text{
    word-wrap: break-word;
  }
  
  .message-username{
    font-size: 10px;
  }
  
  .message.self {
    
    background: #d190ff;
  }
  
  .message-footer {
    font-size: 12px;
    align-self: flex-end;
    font-weight: 400;
  }
  
  /* Chat Input  */
  .chat-input {
    width: 100%;
    background: rgb(235, 161, 255);
    padding: 1rem;
  }
  .send-btn {
    border: none;
    background: rgba(72, 112, 223, 1);
    
    height: 40px;
    width: 69px;
    border-radius: 25%;
  }
  
  /* Notification */
  .notifications {
    position: relative;
  }
  
  .notifications-icon {
    
    cursor: pointer;
    position: relative;
    margin-right: 1rem;
  }
  
  .notifications-box {
    max-height: 50vh;
    width: 300px;
    position: absolute;
    top: 2rem;
    right: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: #d191ff;
    border-radius: 5px;
    z-index: 5;
  }
  
  .notifications-header {
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .notifications-box h3 {
    font-weight: 700;
    font-size: 20px;
  }
  
  .mark-as-read {
    cursor: pointer;
    font-weight: 700;
    opacity: 0.8;
  }
  
  .notification {
    font-size: 14px;
    margin: 0rem 0;
    padding-bottom: 0.2rem !important;
    border-bottom: 2px solid rgb(182, 47, 255);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1rem 1rem;
    border-radius: 5px;
  }
  
  .notification.not-read {
    background:  #cb83ff;;
  }
  
  .notification-time {
    margin-top: 0.2rem;
    font-size: 12px;
    color: #e0e0e0;
  }
  
  .notification-count {
    display: flex;
    background: #00bd9b;
    height: 25px;
    width: 25px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -15px;
  }
  
  .this-user-notifications {
    display: flex;
    background: #00bd9b;
    height: 20px;
    width: 20px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }