.mainContainer{
    /* background-image: linear-gradient(to right bottom, rgb(228, 201, 231), rgb(255, 179, 252)); */
    background-image: linear-gradient(to bottom, rgb(230, 121, 255), rgb(253, 180, 255));
    border-bottom: 3px solid rgb(255, 182, 242);
}

.homeLink{
    text-shadow: rgb(182, 0, 176) 0px 0px 25px;
    color: rgb(244, 215, 255);
    font-weight: bold;
    font-size: 24px;
    transition: 0.5s;
    text-decoration: none;
}

.homeLink:hover{
    text-shadow: rgb(104, 17, 101) 0px 0px 16px;
    color: rgb(232, 173, 255);
}

.NavBarLink{
    text-decoration: none;
}