.formButton{
    border: 1px solid white !important;
    background-image: linear-gradient(to bottom, rgb(234, 209, 255), rgb(232, 161, 255));
    color: rgb(0, 0, 0);
    font-weight: bold !important;
    transition: 1s ease-in !important;
}

.formButton:hover{
    border: 1px solid white;
    background-image: linear-gradient(to bottom, rgb(227, 194, 254), rgb(224, 144, 250));
    color: rgb(0, 0, 0);
    font-weight: bold;
}